.about {
  background:#101114;
  padding: 50px 90px;
  text-align: center;
  scroll-margin-top: 90px;
}

.about-header {
  max-width: 700px;
  margin: auto;
  margin-bottom: 60px;
}

.about-header h2 {
  font-size: 42px;
  margin-bottom: 15px;
  color: #C9A646;
}

.about-header p {
  font-size: 18px;
  color: #B9B2A4;
  line-height: 1.5;
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.about-card {
  width: 320px;
  padding: 35px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(49, 54, 61, 0.5);
  transition: 0.35s;
  color: #20252C;
}
.about-card h3 {
  margin-bottom: 15px;
  color:  #D8B75B;
}

.about-card p {
  color: #8E897E;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .about {
    padding: 80px 20px;
  }

  .about-header h2 {
    font-size: 32px;
  }

  .about-card {
    width: 100%;
  }
}