.hero {
  height: 100vh;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color:  #DED8D1;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.5)),
    url("../assets/pic1.png"),
    url("../assets/pic2.png"),
    url("../assets/pic3.png"),
    url("../assets/pic4.png");

  background-size:
    100vw 100vh,
    100vw 100vh,
    100vw 100vh,
    100vw 100vh;

  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;

  animation: heroSlide 17s infinite ease-in-out;
}
@keyframes heroSlide {
  0%,
  25% {
    background-position:
      0 0,
      100vw 0,
      200vw 0,
      300vw 0;
  }

  26%,
  50% {
    background-position:
      -100vw 0,
      0 0,
      100vw 0,
      200vw 0;
  }

  51%,
  75% {
    background-position:
      -200vw 0,
      -100vw 0,
      0 0,
      100vw 0;
  }

  76%,
  100% {
    background-position:
      -300vw 0,
      -200vw 0,
      -100vw 0,
      0 0;
  }
}
.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  max-width: 700px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  text-align: center;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  opacity: 0.9;
  text-align: center;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.btn-primary {
  padding: 10px 30px;
  border: 2px solid white;
  background: transparent;
  color:  #ffffff;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}
.btn-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #D4A84B;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: -1;
  
}

.btn-primary:hover::before {
  transform: scaleX(1);
}

.btn-primary:hover {
  color: black;
  background: #D4A84B;
  transform: none;
}

.btn-secondary {
  padding: 12px 20px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: transparent;
  transform: scale(1.05);
}