.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.9px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.login-box {
  width: 450px;
  background: #181B20;
  padding: 30px;
  border-radius: 16px;
  color: #E0DACC;
  position: relative;
  box-shadow:
  0 20px 60px rgba(0,0,0,.45);
}

.close-btn {
  position: absolute;
  right: 18px;
  top: 16px;
  background: none;
  border: none;
  color: #bfbfd4;
  font-size: 20px;  
  cursor: pointer;
}

h2 {
  margin: 0 0 9px;
}

.subtitle {
  color: #B9B2A4;
  margin: 0 0 20px;
}

.role-tabs {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 0px;
}

.role-tabs button {
  flex: 1;
  padding: 010px;
  border: 2px solid transparent;
  background: transparent;
  color: #E0DACC;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  transition: .3s;
}

.role-tabs button.active {
  background: #C9A646;
  border-color: #E7D49A;
  box-shadow:
    0 0 12px rgba(213,197,25,.3);
}

label {
  display: block;
  margin: 15px 0 8px;
}

input {
  width: 100%;
  padding: 14px;
  padding-right: 42px;
  border-radius: 10px;
  border: 1px solid #434A55;
  background: #101114;
  color: #B9B2A4;
  outline: none;
  box-sizing: border-box;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  user-select: none;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #C9A646;
  color: #181818;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.login-btn:hover {
  transform: translateY(-1px);
  background: #D8B75B;
}

.forgot {
  text-align: center;
  margin-top: 10px;
}

.forgot-link {
  color: #E0DACC;
  text-decoration: none;
  font-size: 13px;
}

.forgot-link:hover {
  text-decoration: underline;
}

.signup-prompt {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #B9B2A4;
}

.signup-link {
  color: #FFD447;
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
}

.signup-link:hover {
  text-decoration: underline;
}